<h1 class="top-title">信濃スイーツについて</h1>
<div class="about-container background-image-about">
  <p class="about-text">
    長野県にある地元では子供からお年寄りまで幅広い層に愛されているスイーツ店です！<br />
    当店一番人気の信濃ケーキをはじめ、プリンやアイスクリームなど様々な商品を扱っております！<br />
    日本全国どちらでも発送可能ですので、ぜひご気軽にご注文くださいませ！いつでもどこでもお届けします！
  </p>
</div>