<h1 class="top-title">注文履歴一覧</h1>
<div class="order-container">
  <div class="customer-info">
    <table class="table">
      <thead>
        <tr>
          <th class ="col-title-customer">購入日時</th>
          <th class ="col-title-customer">購入者</th>
          <th class ="col-title-customer">注文個数</th>
          <th class ="col-title-customer">注文ステータス</th>
        </tr>
      <tbody>
        <% @orders.each do |order| %>
        <% @item_amount = 0 %>
        <tr>
          <td class ="col-body-customer"><%= link_to order.created_at.strftime('%Y年%m月%d日 %H時%M分'), "/admin/orders/#{order.id}", class: "show-link" %></th>
          <td class ="col-body-customer"><%= order.name %></td>
          <% order.order_details.each do |amount| %>
            <% if order.id == amount.order_id %>
             <% @item_amount += amount.amount %>
            <% end%>
          <% end %>
          <td class ="col-body-customer"><%= @item_amount %></td>
          <td class ="col-body-customer"><%= order.order_status %></td>
        </tr>
        <% @item_amount = 0 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>