/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// application.html/header
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  height: 80px;
  padding: 0;
  background: #e3d7a3;
}

.navigation {
  width: 90%;
  height: 80px;
  margin: 0 auto;
}

.navbar-left {
  font-family: cursive, "MS ゴシック";
  font-size: 32px;
  line-height: 80px;
}

.navbar-left > a {
  color: white;
}

.navbar-items {
  margin: 0;
  padding: 0;
}

.navbar-right {
  width: 800px;
}

.user-name {
  float: left;
  height: 80px;
  margin-bottom: 0;
  line-height: 80px;
  display: inline-block;
}

.navbar-items .item {
  font-family: "Noto Serif Japanese";
  height: 60px;
  width: 100px;
  line-height: 60px;
  display: inline-block;
  margin: 10px 20px 10px;
  padding: 0;
  text-align: center;
  color: white;
  background: #C0C0C0;
  border-radius: 10px;
}

.navbar-items .item a {
  color: white;
}

.navbar-items .item a:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.footer-content {
  text-align: center;
  margin-top: 20px auto;
  position: absolute;
  bottom: 30px;
  left: 1100px;
}

//end_user/registration/new&session/new
.top-title {
  text-align: center;
  padding-top: 20px;
}

.sign-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.field {
  width: 50%;
  margin: 20px auto;
  position: relative;
}

.form-area {
  display: inline-block;
}

.main-label {
  position: absolute;
}

.sub-label {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.form-area-email {
  width: 160px;
  position: relative;
  display: inline-block;
  left: -108px;
}

.form-area-password {
  display: inline-block;
  position: relative;
  left: -70px;
}

.actions {
  margin-top: 50px;
}

.login-link {
  width: 80%;
  position: relative;
}

.form-area-link {
  text-align: left;
  font-size: 12px;
  display: inline-block;
  position: relative;
  left: -110px;
}

.login-label {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  left: -90px;
}

.form-area-pass {
  width: 230px;
  display: inline-block;
  position: relative;
  left: 13px;
}

.reg {
  left: -70px;
}

.btn-danger {
  font-size: 12px;
  position: relative;
  right: 20px;
  margin-bottom: 20px;
}

.btn-warning {
  margin-bottom: 20px;
}

//各ページ共通テーブル式レイアウト(base: customer#show)
.top-title {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.table-container {
  width: 600px;
  margin: 0 auto;
}

.sub-container {
  width: 600px;
  height: 40px;
  margin: 0 auto;
}

.sub-title {
  margin: 0;
  float: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  
}

.nav-option {
  width: 60%;
  height: 40px;
  padding: 0;
  float: right;
}

.option-item {
  list-style: none;
  margin: 0 0 0 10px;
  float: right;
}

.detail-option {
  position: relative;
  width: 600px;
  height: 40px;
  margin: 0 auto;
}

.detail-title {
  position: absolute;
  line-height: 40px;
  right: 120px;
  font-weight: bold;
  // text-align: right;
  // float: right;
}

.detail-btn {
  float: right;
}

//registrotion#edit(パスワード変更画面)
.main-label-edit {
  position: absolute;
  line-height: 31px;
  left: 100px;
}

.sub-label-edit {
  display: inline-block;
  position: absolute;
  top: -18px;
  right: 160px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.btn-update {
  position: relative;
  left: -25px;
}

.btn-back {
  position: relative;
  top: 10px;
  left: 10px;
}

.login-btn {
  display: inline-block;
  padding: 6px 12px;
  // margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  border: solid 1px;
  border-radius: 4px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.danger-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  border: solid 1px;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 30px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
